:root {
    --font-size-used: 15pt;
}

@-webkit-keyframes spinY {
    to {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

@keyframes spinY {
    to {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

#bk-logo {
    -webkit-transition: 5s ease;
         -o-transition: 5s ease;
            transition: 5s ease;
    -webkit-animation-name: spinY;
            animation-name: spinY;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

#bk-logo:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@media only screen and (max-width: 576px) {
    #bk-logo {
        max-width: 95px !important;
    }
}

#header {
    --shadow-color: rgba(0,0,0,0.19);
    min-height: 120px;
    -webkit-box-shadow: inset 0 -4px 8px 0.5px var(--shadow-color);
            box-shadow: inset 0 -4px 8px 0.5px var(--shadow-color);
}

.code-language {
    position: relative;
    /* top: -28px; */
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
    border-radius: 2px;
    color: var(--orange-peel);
    border: 1px solid var(--orange-peel);
    font-size: 1rem;
    font-weight: 600;
    background-color: inherit;
    letter-spacing: 1px;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
    pointer-events: none !important;
    /* filter: brightness(90%); */
}

.code-language-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: inset 0 -2px 4px 2px rgba(0,0,0,0.21);
            box-shadow: inset 0 -2px 4px 2px rgba(0,0,0,0.21);
}

.code-language-tester-html,
.code-language-tester-css {
    transition: 200ms linear;
}

.code-language-tester-html + * textarea:focus {
    outline: 1px solid var(--orange-peel);
    box-shadow: 0 0 3px 1px var(--orange-peel);
    transition: 200ms linear;
}

.code-language-tester-css + * textarea:focus {
    outline: 1px solid var(--light);
    box-shadow: 0 0 3px 1px var(--orange-peel);
    transition: 200ms linear;
}

.sidenav {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 100px;
    max-width: 15%;
    width: 15%;
    min-height: 50px;
    max-height: 100%;
    height: max-content;
    background-color: var(--light);
    border-right: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-bottom-right-radius: 3px;
    z-index: 480;
}

.sidenav.right {
    position: fixed;
    top: 60px;
    right: 0px;
    left: 85%;
    min-width: 100px;
    max-width: 15%;
    width: 15%;
    min-height: 50px;
    max-height: 100%;
    height: max-content;
    background-color: transparent;
    padding: 8px 2px 10px 4px;
    z-index: 480;
    border: none !important;
    font-size: 1rem;
}

/* @media only screen and (max-width: 992px) {
    .sidenav,
    .sidenav.right {
        display: none !important;
    }
} */

.content {
    min-width: 69.66666%;
    max-width: 70%;
    width: 70%;
    z-index: 240;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -- */
/* @media only screen and (max-width: 992px) {
    .sidenav,
    .sidenav.right {
        display: none !important;
    }

    .sidenav + .content {
        min-width: 99.66666%;
        max-width: 100%;
        width: 100%;
    }
} */
/* -- */
.sidenav input[type="checkbox"].collapsible-toggler:hover + .collapsible-label,
.sidenav input[type="checkbox"].collapsible-toggler:checked + .collapsible-label {
  color: var(--dark) !important;
}