<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BebyKit</title>

    <link rel="stylesheet" href="../assets/script/css/bebykit.fix.css">

    <meta property="og:title" content="BebyKit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hawarimuflihmunte.github.io/BebyKit/" />
    <meta property="og:image" content="../assets/image/logo/BebyKit.png" />
    <meta property="og:description" content="Simple & free-to-use CSS Framework, and also open-source" />

</head>
<body class="white-bg bg-enhanced-1">
    
    <nav class="shadow-xs light-bg pr-xl">
        <a href="../index.html" class="navbar-brand flex items-align-center text-l blue-text text-lighter-1 unselectable" style="font-weight: 400;">
            <img src="../assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="height: 45px;">
            BebyKit
        </a>
        <ul class="navbar-item">
            <li>
                <div class="dropdown r-s">
                    <button class="btn btn-s transparent-bg shadow-n"><i class="bk-menu blue-text"></i></button>
                    <div class="dropdown-content light-bg blue-text font-m">
                        <a href="../index.html">Home</a>
                        <div class="divider"></div>
                        <a href="index.html">Layout</a>
                        <a href="../components/">Components</a>
                        <a href="../utilities/">Utilities</a>
                        <a href="../forms/">Forms</a>
                        <a href="../icons/">Icons</a>
                        <a href="../typography/">Typography</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container pt-m mb-l">
        <h1 class="title grey-text text-lighter-1">Layout</h1>
        <hr class="mb-xl">
        <h2 class="title grey-text text-lighter-1">Grid</h2>
        <h3 class="subtitle">Responsive Grid Column</h3>
        <div class="row font-l text-center">
            <div class="column mb-s r-s xs-12 p-xs white-bg bg-enhanced-1 shadow-m">12</div>
            <div class="column mb-s r-s xs-1 p-xs blue-bg shadow-s">1</div>
            <div class="column mb-s r-s xs-11 p-xs white-bg bg-enhanced-1 shadow-m">11</div>
            <div class="column mb-s r-s xs-2 p-xs blue-bg shadow-s">2</div>
            <div class="column mb-s r-s xs-10 p-xs white-bg bg-enhanced-1 shadow-m">10</div>
            <div class="column mb-s r-s xs-3 p-xs blue-bg shadow-s">3</div>
            <div class="column mb-s r-s xs-9 p-xs white-bg bg-enhanced-1 shadow-m">9</div>
            <div class="column mb-s r-s xs-4 p-xs blue-bg shadow-s">4</div>
            <div class="column mb-s r-s xs-8 p-xs white-bg bg-enhanced-1 shadow-m">8</div>
            <div class="column mb-s r-s xs-5 p-xs blue-bg shadow-s">5</div>
            <div class="column mb-s r-s xs-7 p-xs white-bg bg-enhanced-1 shadow-m">7</div>
            <div class="column mb-s r-s xs-6 p-xs blue-bg shadow-s">6</div>
            <div class="column mb-s r-s xs-6 p-xs white-bg bg-enhanced-1 shadow-m">6</div>
            <div class="column mb-s r-s xs-7 p-xs blue-bg shadow-s">7</div>
            <div class="column mb-s r-s xs-5 p-xs white-bg bg-enhanced-1 shadow-m">5</div>
            <div class="column mb-s r-s xs-8 p-xs blue-bg shadow-s">8</div>
            <div class="column mb-s r-s xs-4 p-xs white-bg bg-enhanced-1 shadow-m">4</div>
            <div class="column mb-s r-s xs-9 p-xs blue-bg shadow-s">9</div>
            <div class="column mb-s r-s xs-3 p-xs white-bg bg-enhanced-1 shadow-m">3</div>
            <div class="column mb-s r-s xs-10 p-xs blue-bg shadow-s">10</div>
            <div class="column mb-s r-s xs-2 p-xs white-bg bg-enhanced-1 shadow-m">2</div>
            <div class="column mb-s r-s xs-11 p-xs blue-bg shadow-s">11</div>
            <div class="column mb-s r-s xs-1 p-xs white-bg bg-enhanced-1 shadow-m">1</div>
            <div class="column mb-s r-s xs-12 p-xs blue-bg shadow-s">12</div>
        </div>
        <h4 class="title mt-xl">Implementing Grid Column</h4>
        <div class="dark-bg py-l px-s r-s overflow-auto mt-xs">
        <pre>
&lt;<span class="orange-text">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row font-l text-center"</span>&gt;
    &lt;<span class="orange-text">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-2">"column mb-s r-s xs-12 p-xs white-bg bg-enhanced-1 shadow-m"</span>&gt;<span class="light-text">column</span>&lt;/<span class="orange-text">div</span>&gt;
&lt;/<span class="orange-text">div</span>&gt;</pre>
        </div>
        <h4 class="title mt-xl">Changing Width Sizes</h4>
        <div class="table-responsive pb-l">
            <table class="no-border table-striped table-caption-bottom unselectable">
                <caption>Media Breakpoints</caption>
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Breakpoints Size</th>
                        <th>Device</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>xs</code></td>
                        <td>0px - 576px</td>
                        <td>Mobile</td>
                    </tr>
                    <tr>
                        <td><code>s</code></td>
                        <td>577px - 768px</td>
                        <td>Mobile & Tablet</td>
                    </tr>
                    <tr>
                        <td><code>m</code></td>
                        <td>769px - 992px</td>
                        <td>Tablet & Laptop</td>
                    </tr>
                    <tr>
                        <td><code>l</code></td>
                        <td>993px - 1200px</td>
                        <td>Laptop & Desktop</td>
                    </tr>
                    <tr>
                        <td><code>xl</code></td>
                        <td>1201px ~</td>
                        <td>Desktop</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h2 class="title mt-xl">Container</h2>
        <p class="font-l">
            Without using container class(es), your element will spread its size into the maximum viewport.<br>See examples below:
        </p>
        <h5 class="title mt-s"><strong>Without Container:</strong></h5>
    </div>
    <div class="blue-bg px-s py-m mb-xl font-m text-justify shadow-s">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius cumque explicabo, impedit voluptates pariatur! Nam, quam id? Harum accusamus ipsum, nihil quibusdam eveniet molestias officiis soluta modi neque! Doloremque, corporis maxime tempora magnam culpa esse perferendis? Quidem porro vitae, quis at molestias nam, placeat corrupti eveniet sit aliquam nemo!
    </div>
    <div class="container">
        <h5 class="title"><strong>With Container:</strong></h5>
        <div class="blue-bg p-m mb-xl font-m text-justify r-s shadow-s">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius cumque explicabo, impedit voluptates pariatur! Nam, quam id? Harum accusamus ipsum, nihil quibusdam eveniet molestias officiis soluta modi neque! Doloremque, corporis maxime tempora magnam culpa esse perferendis? Quidem porro vitae, quis at molestias nam, placeat corrupti eveniet sit aliquam nemo!
        </div>
        <h5 class="title"><strong>Or Full Container:</strong></h5>
    </div>
    <div class="full-container">
        <div class="blue-bg p-m mb-m font-m text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius cumque explicabo, impedit voluptates pariatur! Nam, quam id? Harum accusamus ipsum, nihil quibusdam eveniet molestias officiis soluta modi neque! Doloremque, corporis maxime tempora magnam culpa esse perferendis? Quidem porro vitae, quis at molestias nam, placeat corrupti eveniet sit aliquam nemo!
        </div>
    </div>
    <div class="container mb-l">
        <p class="font-l">
            Summary:    
        </p>
        <ul class="font-l">
            <li class="mb-l">
                <em>Without Container</em>:<br>
                Element(s) will spread with just a little padding on its left-right side.
            </li>
            <li class="mb-l">
                <em>With Container</em>:<br>
                Element(s) will be centered with relative width depending on its viewport's width size.
            </li>
            <li class="mb-l">
                <em>Without Container</em>:<br>
                Element(s) will have the same width just like <em>Without Container</em>. But with a little bit added-padding on its left-right side.
            </li>
        </ul>
    </div>

    <footer class="blue-bg pt-xl pb-s px-m">
        <div class="row">
            <div class="column xs-12 s-5 m-4 l-3 light-bg r-s flex content-justify-center shadow-s">
                <a href="../index.html" class="py-s flex items-align-center">
                    <img src="../assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="max-width: 60px;">
                    <p class="font-xl blue-text text-lighter-1"><strong>BebyKit</strong></p>
                </a>
            </div>
            <div class="column xs-12 s-7 m-8 l-9 light-text py-s px-m text-center-xs">
                <p class="font-m">
                    Made with <i class="bk-heart-filled bk-s red-text"></i> by <em>Hawari</em> [ <span class="font-xs red-text shadow-text-s"><strong>ハワリ</strong></span> ] and Hikari [ <span class="font-xs red-text shadow-text-s"><strong>光</strong></span> ].<br>
                    Current Version: v1.0.2
                </p>
            </div>
            <div class="column xs-12 mt-m text-center">
                <p>
                    BebyKit © 2022. MIT Licensed
                </p>
            </div>
        </div>
    </footer>
</body>
</html>