<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BebyKit</title>

    <link rel="icon" href="../assets/image/logo/BebyKit.ico" sizes="32x32" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/script/css/bebykit.fix.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <meta property="og:title" content="BebyKit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hawarimuflihmunte.github.io/BebyKit/" />
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" />
    <meta property="og:description" content="Simple & free-to-use CSS Framework, and also open-source" />

    <link rel="stylesheet" href="../style.css">

</head>
<body class="white-bg bg-enhanced-1">
    <div class="fixed w-100 index-5">
        <nav class="blue-bg px-m shadow-n flex content-align-center items-align-center">
            <a href="../index.html" class="flex content-align-center items-align-center">
                <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" style="max-width: 45px; height: auto;" oncontextmenu="return false;">
            </a>
            <a class="menu-drop hidden-m-to-upper">
                <i class="bk-th font-s"></i>
            </a>
            <ul class="flex content-justify-space-between items-align-center hidden-s-to-lower change-color">
                <li>
                    <div class="dropdown r-s mr-m">
                        <button class="btn btn-s transparent-bg shadow-n">Documentation</button>
                        <div class="dropdown-content light-bg blue-text">
                            <a href="../index.html" class="content-justify-center"><i class="bk-home"></i></a>
                            <div class="divider"></div>
                            <a href="index.html">Layout</a>
                            <a href="../components/index.html">Components</a>
                            <a href="../utilities/index.html">Utilities</a>
                            <a href="../forms/index.html">Forms</a>
                            <a href="../icons/index.html">Icons</a>
                            <a href="../typography/index.html">Typography</a>
                        </div>
                    </div>
                </li>
                <li><a href="../index.html#download" class="btn-outline btn-s btn-white r-xs"><i class="bk-download bk-xs"></i>&nbsp;&nbsp;Download</a></li>
            </ul>
        </nav>
    </div>

    <div class="container pt-xl mb-l">
        <div class="pt-m"></div>
        <h1 class="title">Layout</h1>
        <hr class="mb-xl">
        <h2 class="title mb-n">Columns</h2>
        <h3 class="subtitle pb-s">Responsive Columns</h3>
        <p class="mb-m">
            BebyKit has default 12 columns system. Each column will automatically set their width fit to window sizes, relative to each window sizes.
        </p>
        <div class="b-xs b-grey b-lighter-2 p-l r-s mb-l">
            <div class="row text-center shadow-s">
                <div class="column xs-3 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    3 column
                </div>
                <div class="column xs-3 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    3 column
                </div>
                <div class="column xs-3 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    3 column
                </div>
                <div class="column xs-3 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2">
                    3 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center shadow-s">
                <div class="column xs-4 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    4 column
                </div>
                <div class="column xs-4 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    4 column
                </div>
                <div class="column xs-4 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2">
                    4 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center shadow-s">
                <div class="column xs-6 bl-xs bt-xs bb-xs bl-grey bt-grey bb-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 p-s white-bg bg-enhanced-2">
                    6 column
                </div>
                <div class="column xs-6 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2">
                    6 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center shadow-s">
                <div class="column xs-12 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2">
                    12 column
                </div>
            </div>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-4 p-s"</span>&gt;
        <span class="light-text">4 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-4 p-s"</span>&gt;
        <span class="light-text">4 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-4 p-s"</span>&gt;
        <span class="light-text">4 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-6 p-s"</span>&gt;
        <span class="light-text">6 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-6 p-s"</span>&gt;
        <span class="light-text">6 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-12 p-s"</span>&gt;
        <span class="light-text">12 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
        <div class="my-xl"></div>
        <div class="row my-s">
            <h3 class="title pt-xl">Column Sizes</h3>
            <div class="table-responsive">
                <table class="table-bordered table-striped font-s">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Breakpoint</th>
                            <th>Media</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>xs</code></td>
                            <td>0px - 576px</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td><code>s</code></td>
                            <td>577px - 768px</td>
                            <td>Mobile ~ Tablet</td>
                        </tr>
                        <tr>
                            <td><code>m</code></td>
                            <td>769px - 992px</td>
                            <td>Tablet ~ Laptop</td>
                        </tr>
                        <tr>
                            <td><code>l</code></td>
                            <td>993px - 1200px</td>
                            <td>Laptop ~ Desktop</td>
                        </tr>
                        <tr>
                            <td><code>xl</code></td>
                            <td>1201px ~</td>
                            <td>Desktop</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-l"></div>
            <h3 class="title pt-xl">Column Push & Pull</h3>
            <p class="mb-m">
                You can make a pull on columns. It is easy to apply this, just add <code>push-</code> or <code>pull-</code> and the next of it is the breakpoint
                size.
            </p>
            <div class="b-xs b-grey b-lighter-2 p-l r-s mb-l">
            <div class="row text-center">
                <div class="column xs-3 push-xs-2 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    3 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-4 push-xs-3 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    4 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-6 pull-xs-1 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    6 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-12 pull-xs-2 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    12 column
                </div>
            </div>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 push-xs-2 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-4 push-xs-3 p-s"</span>&gt;
        <span class="light-text">4 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-6 pull-xs-1 p-s"</span>&gt;
        <span class="light-text">6 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-12 pull-xs-2 p-s"</span>&gt;
        <span class="light-text">12 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
        <h3 class="title pt-xl">Column Offset</h3>
            <p class="mb-m">
                Offset in column is like <code>pull-</code>, but <code>pull-</code> will only move the column that targeted and likely to overlap other column(s). With using offset, all of the column(s) in the front of the targeted column will
                be moved relatively and sizing themself automatically.
            </p>
            <div class="b-xs b-grey b-lighter-2 p-l r-s mb-l">
            <div class="row text-center">
                <div class="column xs-3 offset-xs-7 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    3 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-4 offset-xs-10 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    4 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-6 offset-xs-2 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    6 column
                </div>
            </div>
            <div class="my-l"></div>
            <div class="row text-center">
                <div class="column xs-12 offset-xs-1 bl-xs bt-xs bb-xs br-xs bl-grey bt-grey bb-grey br-grey bl-lighter-3 bt-lighter-3 bb-lighter-3 br-lighter-3 p-s white-bg bg-enhanced-2 shadow-s">
                    12 column
                </div>
            </div>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-3 offset-xs-7 p-s"</span>&gt;
        <span class="light-text">3 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-4 offset-xs-10 p-s"</span>&gt;
        <span class="light-text">4 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-6 offset-xs-2 p-s"</span>&gt;
        <span class="light-text">6 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"row text-center"</span>&gt;
    &lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"column xs-12 offset-xs-1 p-s"</span>&gt;
        <span class="light-text">12 column</span>
    &lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
    </div>
        <hr class="my-xl">
        <h2 class="title pt-m">Container</h2>
        <p class="mb-s">
            Center your content by using <code>container</code> class. Don't worry about width dimension or viewport, your content will stay in the center, as long as you are not modifying it.
        </p>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"container"</span>&gt;
    <span class="grey-text text-lighter-3">&lt;!-- content --&gt;</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
        <h4 class="title pt-xl mt-l">Full Container</h4>
        <p class="mb-m">
            <code>full-container</code> spanning the width and makes your content centered.
        </p>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"full-container"</span>&gt;
    <span class="grey-text text-lighter-3">&lt;!-- content --&gt;</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
        <hr class="mt-l mb-xl">
        <h2 class="title">Display</h2>
        <p class="mb-s">
            Make your own content-layout display so you can make it adaptive to your own styling style.
        </p>
        <div class="pl-m pr-m pb-m pt-xl b-xs r-s b-grey b-lighter-3 mb-xl">
            <div class="pt-m"></div>
            <div class="inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;">
                INLINE
            </div>
            <div class="inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;">
                INLINE
            </div>
            <div class="inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;">
                INLINE
            </div>
            <div class="inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs hidden-s-to-lower" style="width: 240px; min-width: 120px;">
                INLINE
            </div>
            <hr class="my-m">
            <div class="inline-block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs" style="width: 240px; min-width: 120px;">
                INLINE-BLOCK
            </div>
            <div class="inline-block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs" style="width: 240px; min-width: 120px;">
                INLINE-BLOCK
            </div>
            <hr class="my-m">
            <div class="block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs shadow-s" style="width: 240px; min-width: 120px;">
                BLOCK
            </div>
            <hr class="my-m">
            <div class="flex b-xs white-bg bg-enhanced-2 p-m r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;">
                FLEX
            </div>
            <hr class="my-m">
            <div class="inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;">
                INLINE-FLEX
            </div>
            <div class="inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;">
                INLINE-FLEX
            </div>
            <div class="inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;">
                INLINE-FLEX
            </div>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline white-bg bg-enhanced-2 b-xs p-m text-center r-s m-xs hidden-s-to-lower" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text">hr</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"my-m"</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline-block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE-BLOCK</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline-block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE-BLOCK</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text">hr</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"my-m"</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"block b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs shadow-s" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">BLOCK</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text">hr</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"my-m"</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"flex b-xs white-bg bg-enhanced-2 p-m r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">FLEX</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text">hr</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"my-m"</span>&gt;

&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE-FLEX</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE-FLEX</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;
&lt;<span class="orange-text text-lighter-1">div</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"inline-flex b-xs white-bg bg-enhanced-2 p-m text-center r-s my-xs items-align-center content-justify-center shadow-s" style="width: 240px; min-width: 120px;"</span>&gt;
    <span class="light-text">INLINE-FLEX</span>
&lt;/<span class="orange-text text-lighter-1">div</span>&gt;</pre>
            </div>
        </div>
        <div class="row">
            <div class="column xs-12">
                <h3 class="title pt-xl mt-m">Code Playground</h3>
                <div class="column xs-12 b-xs r-s overflow-auto dark-bg">
                    <iframe class="preview w-100 p-s overflow-auto light-bg light-text rtl-s rtr-s mt-xs"></iframe>
                    <hr class="my-m">
                    <div class="code-language-wrapper code-language-tester-html relative block orange-text ml-s font-m b-xs b-orange py-xs px-s r-s mb-s">HTML</div>
                    <div class="dark-bg p-s r-s overflow-auto">
                        <textarea class="dark-bg light-text px-xs py-s b-n w-100 html r-s" placeholder="Write HTML Code" style="resize: none; min-height: 200px; max-height: 200px;" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"><h3>Write HTML code</h3></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="blue-bg pt-xl pb-s px-m">
        <div class="row">
            <div class="column xs-12 m-6">
                <a href="index.html" class="w-auto mb-s flex items-align-flex-end">
                    <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="max-width: 50px;">
                    <span class="light-text text-m font-sans-serif shadow-text-3d">BebyKit</span>
                </a>
                <p class="mt-s">
                    Made with <i class="bk-heart-filled text-xs"></i> by BebyKit team and all of the contributors.
                </p>
                <p>Current version: v1.0.3</p>
            </div>
            <div class="column xs-12 m-6 pt-l hidden-m-to-upper">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 m-6 hidden-s-to-lower">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 mt-m text-center">
                <div class="divider light-bg mb-m"></div>
                <p>
                    BebyKit © 2022. MIT Licensed
                </p>
            </div>
        </div>
    </footer>

<script src="../script.js" type="text/javascript"></script>

</body>
</html>