<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BebyKit</title>

    <link rel="icon" href="../assets/image/logo/BebyKit.ico" sizes="32x32" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/script/css/bebykit.fix.css">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script src="../jquery-3.6.0.min.js"></script>

    <meta property="og:title" content="BebyKit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hawarimuflihmunte.github.io/BebyKit/" />
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" />
    <meta property="og:description" content="Simple & free-to-use CSS Framework, and also open-source" />

    <link rel="stylesheet" href="../style.css">

</head>
<body class="navbar-fixed-on white-bg bg-enhanced-1">

    <div class="navbar-fixed w-100 index-5">
        <nav class="collapsible-nav px-m">
            <a href="../index.html" class="flex w-auto pr-m py-xs r-m content-justify-space-between items-align-center light-bg">
                <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" style="max-width: 45px; height: auto;" oncontextmenu="return false;">
                <span class="text-l blue-text">BebyKit</span>
            </a>
            <input type="checkbox" id="collapsible-nav" class="collapsible-nav-toggler">
            <label for="collapsible-nav" class="collapsible-nav-label hidden-l-to-upper"><i class="bk-menu"></i></label>
            <div class="collapsible-nav-body">
                <div class="collapsible-nav-content">
                    <div class="collapsible shadow-n">
                        <input type="checkbox" id="collapsible-nav-1" class="collapsible-toggler" checked>
                        <label for="collapsible-nav-1" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Getting Started</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">Introduction</a>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="collapsible-nav-2" class="collapsible-toggler">
                        <label for="collapsible-nav-2" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Layout</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">Container</a>
                                    <a href="#!">Grid</a>
                                    <a href="#!">Display</a>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="collapsible-nav-3" class="collapsible-toggler">
                        <label for="collapsible-nav-3" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Components</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">Buttons</a>
                                    <a href="#!">Table</a>
                                    <a href="#!">Dropdown</a>
                                    <a href="#!">Collapsible</a>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="collapsible-nav-4" class="collapsible-toggler">
                        <label for="collapsible-nav-4" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Utilities</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">Padding</a>
                                    <a href="#!">Margin</a>
                                    <a href="#!">Radius</a>
                                    <a href="#!">Border</a>
                                    <a href="#!">Hidden</a>
                                    <a href="#!">Visible</a>
                                    <a href="#!">Invisible</a>
                                    <a href="#!">Shadow</a>
                                    <a href="#!">Text Shadow</a>
                                    <a href="#!">Background Color</a>
                                    <a href="#!">Text Color</a>
                                    <a href="#!">Overflow</a>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="collapsible-nav-5" class="collapsible-toggler">
                        <label for="collapsible-nav-5" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Forms</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">ABC</a>
                                    <a href="#!">BCD</a>
                                    <a href="#!">CDE</a>
                                    <a href="#!">DEF</a>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="collapsible-nav-6" class="collapsible-toggler">
                        <label for="collapsible-nav-6" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">About</label>
                        <div class="collapsible-body">
                            <div class="collapsible-content py-n">
                                <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                                    <a href="#!">Team</a>
                                    <a href="#!">License</a>
                                    <a href="#!">Translations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidenav pt-m">
            <div class="collapsible shadow-n">
                <input type="checkbox" id="collapsible-sidenav-1" class="collapsible-toggler" checked>
                <label for="collapsible-sidenav-1" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Getting Started</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">Introduction</a>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="collapsible-sidenav-2" class="collapsible-toggler">
                <label for="collapsible-sidenav-2" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Layout</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">Container</a>
                            <a href="#!">Grid</a>
                            <a href="#!">Display</a>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="collapsible-sidenav-3" class="collapsible-toggler">
                <label for="collapsible-sidenav-3" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Components</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">Buttons</a>
                            <a href="#!">Table</a>
                            <a href="#!">Dropdown</a>
                            <a href="#!">Collapsible</a>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="collapsible-sidenav-4" class="collapsible-toggler">
                <label for="collapsible-sidenav-4" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Utilities</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">Padding</a>
                            <a href="#!">Margin</a>
                            <a href="#!">Radius</a>
                            <a href="#!">Border</a>
                            <a href="#!">Hidden</a>
                            <a href="#!">Visible</a>
                            <a href="#!">Invisible</a>
                            <a href="#!">Shadow</a>
                            <a href="#!">Text Shadow</a>
                            <a href="#!">Background Color</a>
                            <a href="#!">Text Color</a>
                            <a href="#!">Overflow</a>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="collapsible-sidenav-5" class="collapsible-toggler">
                <label for="collapsible-sidenav-5" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">Forms</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">ABC</a>
                            <a href="#!">BCD</a>
                            <a href="#!">CDE</a>
                            <a href="#!">DEF</a>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="collapsible-sidenav-6" class="collapsible-toggler">
                <label for="collapsible-sidenav-6" class="collapsible-label transparent-bg grey-text text-lighter-2 py-xs">About</label>
                <div class="collapsible-body">
                    <div class="collapsible-content py-n">
                        <div class="flex flex-column pl-m font-l grey-text text-lighter-2">
                            <a href="#!">Team</a>
                            <a href="#!">License</a>
                            <a href="#!">Translations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidenav right">
            <div class="flex flex-column items-align-flex-start pt-s">
                <h4 class="subtitle mb-xs px-xs">On this page:</h4>
                <div class="divider mb-s"></div>
                <ul class="ml-xs">
                    <li><a href="index.html#introduction" class="grey-text text-lighter-1">Introduction</a></li>
                    <li><a href="index.html#quick-start" class="grey-text text-lighter-1">Quick Start</a></li>
                    <li><a href="index.html#css" class="grey-text text-lighter-1 ml-s">CSS</a></li>
                    <li><a href="index.html#html-setup" class="grey-text text-lighter-1 ml-s">HTML Setup</a></li>
                    <li><a href="index.html#issues" class="grey-text text-lighter-1">Issues</a></li>
                    <li><a href="index.html#support" class="grey-text text-lighter-1">Support</a></li>
                </ul>
            </div>
        </div>
        </nav>
    </div>

    <div class="content px-l py-m">
        <h1 class="title mb-n" id="introduction">Introduction</h1>
        <h4 class="subtitle">Get started to BebyKit CSS Framework</h4>
        <div class="divider mb-xl"></div>
        <h3 class="title" id="quick-start">Quick Start</h3>
        <p class="mb-xl">
            Want to add BebyKit in your project? Use jsDelivr which is free open-source CDN.
        </p>
        <h5 class="title" id="css">CSS</h5>
        <p class="mb-s">
            Put this code below in your <code class="shadow-n p-n transparent-bg blue-text">&lt;head&gt;</code> to get quick start with BebyKit framework
        </p>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-xs rtr-s">
                <span class="code-language text-xs py-xs px-s">HTML</span>
            </div>
            <div class="dark-bg py-s px-xs mb-s rbl-s rbr-s rtr-s overflow-auto">
                <code class="shadow-n transparent-bg white-text text-enhanced-3 ">&lt;<span class="blue-text text-lighter-2">link</span> <span class="purple-text text-lighter-1">rel</span>=<span class="green-text text-lighter-3">"stylesheet"</span> <span class="purple-text text-lighter-1">href</span>=<span class="green-text text-lighter-3">"https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/script/css/bebykit.fix.css"</span>&gt;</code>
            </div>
        </div>
        <div class="divider mt-l mb-xl"></div>
        <h5 class="title" id="html-setup">HTML Setup</h5>
        <p class="mb-s">
            Want to get BebyKit quick starter template? You can see example code below
        </p>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-xs rtr-s">
                <span class="code-language text-xs py-xs px-s">HTML</span>
            </div>
            <div class="dark-bg py-s px-xs mb-s rbl-s rbr-s rtr-s overflow-auto">
                <code class="shadow-n transparent-bg white-text text-enhanced-3">
&lt;<span class="pink-text">!DOCTYPE html</span>&gt;
&lt;<span class="blue-text text-lighter-1">html</span>&gt;
  &lt;<span class="blue-text text-lighter-1">head</span>&gt;
    &lt;<span class="blue-text text-lighter-1">title</span>&gt;<span class="light-text">My Project</span>&lt;/<span class="blue-text text-lighter-1">title</span>&gt;

    <span class="grey-text text-lighter-2">&lt;!-- Import BebyKit --&gt;</span>
    &lt;<span class="blue-text text-lighter-1">link</span> <span class="purple-text text-lighter-1">rel</span>=<span class="green-text text-lighter-3">"stylesheet"</span> <span class="purple-text text-lighter-1">href</span>=<span class="green-text text-lighter-3">"https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/script/css/bebykit.fix.css"</span>&gt;

    <span class="grey-text text-lighter-2">&lt;!-- Responsive Meta --&gt;</span>
    &lt;<span class="blue-text text-lighter-1">meta</span> <span class="purple-text text-lighter-1">name</span>=<span class="green-text text-lighter-3">"viewport"</span> <span class="purple-text text-lighter-1">content</span>=<span class="green-text text-lighter-3">"width=device-width, initial-scale=1.0"</span>/&gt;

    <span class="grey-text text-lighter-2">&lt;!-- Additional Common Required Meta --&gt;</span>
    &lt;<span class="blue-text text-lighter-1">meta</span> <span class="purple-text text-lighter-1">charset</span>=<span class="green-text text-lighter-3">"UTF-8"</span>&gt;
    &lt;<span class="blue-text text-lighter-1">meta</span> <span class="purple-text text-lighter-1">http-equiv</span>=<span class="green-text text-lighter-3">"X-UA-Compatible"</span> <span class="purple-text text-lighter-1">content</span>=<span class="green-text text-lighter-3">"IE=edge"</span>&gt;

    <span class="grey-text text-lighter-2">&lt;!-- Additional Dongle Font (optional)</span>
    <span class="grey-text text-lighter-2">&lt;link rel="preconnect" href="https://fonts.googleapis.com"&gt;
    &lt;link rel="preconnect" href="https://fonts.gstatic.com" crossorigin&gt;
    &lt;link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap"&gt;
    </span><span class="grey-text text-lighter-2">Uncomment to apply Dongle font --&gt;</span>
  &lt;/<span class="blue-text text-lighter-1">head</span>&gt;
  &lt;<span class="blue-text text-lighter-1">body</span>&gt;
    &lt;<span class="blue-text text-lighter-1">h1</span> <span class="purple-text text-lighter-1">class</span>=<span class="green-text text-lighter-3">"title"</span>&gt;<span class="light-text">Hello World!</span>&lt;/<span class="blue-text text-lighter-1">h1</span>&gt;
  &lt;/<span class="blue-text text-lighter-1">body</span>&gt;
&lt;/<span class="blue-text text-lighter-1">html</span>&gt;</code>
            </div>
        </div>
        <div class="divider mt-l mb-xl"></div>
        <h4 class="title" id="issues">Issues</h4>
        <p>
            Found a bug/issue on documentation? You can help BebyKit team by contributing or let BebyKit team know this issue so BebyKit knows where to figure out the issues.
        </p>
        <div class="flex flex-row pt-s">
            <a href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="btn-outline" target="_blank">Github</a>
            <div class="mx-s"></div>
            <a href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="btn-outline" target="_blank">Gitter</a>
            <div class="mx-s"></div>
            <a href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="btn-outline" target="_blank">whatsapp</a>
        </div>
        <div class="divider mt-l mb-xl"></div>
        <h4 class="title" id="support">Support the Project</h4>
        <p>
            Hope you have enjoyed using BebyKit. If you feel BebyKit has helped you out and want to support BebyKit team, you can donate to BebyKit team's PayPal or Saweria. Any amount would help BebyKit's development and would keep the continue of BebyKit development.
        </p>
        <div class="flex flex-row pt-m">
            <div class="flex flex-column mr-l">
                <p>Paypal:</p>
                <a href="#!" class="btn-outline">donate</a>
            </div>
            <div class="flex flex-column">
                <p>Saweria:</p>
                <a href="#!" class="btn-outline">donate</a>
            </div>
        </div>
    </div>

    <footer class="blue-bg pt-xl pb-s px-m">
        <div class="row">
            <div class="column xs-12 m-6">
                <a href="../index.html" class="w-auto mb-s flex items-align-flex-end">
                    <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="max-width: 50px;">
                    <span class="light-text text-m font-sans-serif shadow-text-3d">BebyKit</span>
                </a>
                <p class="mt-s">
                    Made with <i class="bk-heart-filled text-xs"></i> by BebyKit team and all of the contributors.
                </p>
                <p>Current version: v1.0.3</p>
                <div class="mt-l hidden">
                    <h5 class="title light-text">Support the Project</h5>
                    <p>
                        Hope you have enjoyed using BebyKit. If you feel BebyKit has helped you out and want to support BebyKit team, you can donate to BebyKit team's PayPal or Saweria. Any amount would help BebyKit's development and would keep the continue of BebyKit development.
                    </p>
                    <div class="flex flex-row pt-m">
                        <div class="flex flex-column mr-l">
                            <p>Paypal:</p>
                            <a href="#!" class="btn-outline btn-white">donate</a>
                        </div>
                        <div class="flex flex-column">
                            <p>Saweria:</p>
                            <a href="#!" class="btn-outline btn-white">donate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 m-6 pt-l hidden-m-to-upper">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 m-6 hidden-s-to-lower">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 mt-m text-center">
                <div class="divider light-bg mb-m"></div>
                <p>
                    BebyKit © 2022. MIT Licensed
                </p>
            </div>
        </div>
    </footer>

<!-- <script src="../script.js" type="text/javascript"></script> -->

</body>
</html>