<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BebyKit</title>

    <link rel="stylesheet" href="../assets/script/css/bebykit.fix.css">

    <meta property="og:title" content="BebyKit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hawarimuflihmunte.github.io/BebyKit/" />
    <meta property="og:image" content="../assets/image/logo/BebyKit.png" />
    <meta property="og:description" content="Simple & free-to-use CSS Framework, and also open-source" />

</head>
<body class="white-bg bg-enhanced-1">
    
    <nav class="shadow-xs light-bg pr-xl">
        <a href="../index.html" class="navbar-brand flex items-align-center text-l blue-text text-lighter-1 unselectable" style="font-weight: 400;">
            <img src="../assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="height: 45px;">
            BebyKit
        </a>
        <ul class="navbar-item">
            <li>
                <div class="dropdown r-s">
                    <button class="btn btn-s transparent-bg shadow-n"><i class="bk-menu blue-text"></i></button>
                    <div class="dropdown-content light-bg blue-text font-m">
                        <a href="../index.html">Home</a>
                        <div class="divider"></div>
                        <a href="../layout/">Layout</a>
                        <a href="index.html">Components</a>
                        <a href="../utilities/">Utilities</a>
                        <a href="../forms/">Forms</a>
                        <a href="../icons/">Icons</a>
                        <a href="../typography/">Typography</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container py-m">
        <h1 class="title grey-text text-lighter-1">Components</h1>
        <hr class="mb-xl">
        <h2 class="title">Buttons</h2>
        <h4 class="title">Default Buttons</h4>
        <div class="flex overflow-auto light-bg p-s b-xs r-s mb-m">
            <a class="btn">Button</a>
            <a class="btn red-bg">Button</a>
            <a class="btn green-bg">Button</a>
            <a class="btn purple-bg">Button</a>
            <a class="btn brown-bg">Button</a>
            <a class="btn orange-bg dark-text">Button</a>
        </div>
        <h4 class="title">Outlined Buttons</h4>
        <div class="flex overflow-auto light-bg p-s b-xs r-s mb-xl">
            <a class="btn-outline">Button</a>
            <a class="btn-outline btn-red">Button</a>
            <a class="btn-outline btn-green">Button</a>
            <a class="btn-outline btn-purple">Button</a>
            <a class="btn-outline btn-brown">Button</a>
            <a class="btn-outline btn-orange">Button</a>
        </div>
        <h2 class="title mt-xl pt-l">Circle Buttons</h2>
        <p class="font-l mb-m">
            <span class="red-text">*</span>Note:<br>
            Icon only inside!
        </p>
        <h4 class="title">Default Circle Buttons</h4>
        <div class="flex overflow-auto light-bg p-s b-xs r-s mb-m">
            <a class="btn-circle"><i class="bk-heart"></i></a>
            <a class="btn-circle red-bg"><i class="bk-heart"></i></a>
            <a class="btn-circle green-bg"><i class="bk-heart"></i></a>
            <a class="btn-circle purple-bg"><i class="bk-heart"></i></a>
            <a class="btn-circle brown-bg"><i class="bk-heart"></i></a>
            <a class="btn-circle orange-bg dark-text"><i class="bk-heart"></i></a>
        </div>
        <h4 class="title">Outlined Circle Buttons</h4>
        <div class="flex overflow-auto light-bg p-s b-xs r-s mb-xl">
            <a class="btn-circle-outline"><i class="bk-heart"></i></a>
            <a class="btn-circle-outline btn-red"><i class="bk-heart"></i></a>
            <a class="btn-circle-outline btn-green"><i class="bk-heart"></i></a>
            <a class="btn-circle-outline btn-purple"><i class="bk-heart"></i></a>
            <a class="btn-circle-outline btn-brown"><i class="bk-heart"></i></a>
            <a class="btn-circle-outline btn-orange"><i class="bk-heart"></i></a>
        </div>
        <h2 class="title mt-xl pt-l">Button Group</h2>
        <h4 class="title">Default Button Group</h4>
        <div class="btn-group">
            <a class="btn py-m px-m">btn1</a>
            <a class="btn py-m px-m red-bg">btn2</a>
            <a class="btn py-m px-m green-bg">btn3</a>
            <a class="btn py-m px-m purple-bg">btn4</a>
            <a class="btn py-m px-m brown-bg">btn5</a>
            <a class="btn py-m px-m orange-bg">btn6</a>
        </div>
        <h4 class="title mt-l">Outlined Button Group</h4>
        <div class="block dark-bg p-s r-s text-center mb-xl">
            <div class="btn-group-outline btn-blue r-s mb-l">
                <a class="btn py-m px-m">btn1</a>
                <a class="btn py-m px-m">btn2</a>
                <a class="btn py-m px-m">btn3</a>
                <a class="btn py-m px-m">btn4</a>
                <a class="btn py-m px-m">btn5</a>
                <a class="btn py-m px-m">btn6</a>
            </div>
            <div class="btn-group-outline btn-red r-s mb-l">
                <a class="btn py-m px-m">btn1</a>
                <a class="btn py-m px-m">btn2</a>
                <a class="btn py-m px-m">btn3</a>
                <a class="btn py-m px-m">btn4</a>
                <a class="btn py-m px-m">btn5</a>
                <a class="btn py-m px-m">btn6</a>
            </div>
            <div class="btn-group-outline btn-green r-s">
                <a class="btn py-m px-m">btn1</a>
                <a class="btn py-m px-m">btn2</a>
                <a class="btn py-m px-m">btn3</a>
                <a class="btn py-m px-m">btn4</a>
                <a class="btn py-m px-m">btn5</a>
                <a class="btn py-m px-m">btn6</a>
            </div>
            <div class="btn-group-outline btn-purple r-s hidden-l-to-lower">
                <a class="btn py-m px-m">btn1</a>
                <a class="btn py-m px-m">btn2</a>
                <a class="btn py-m px-m">btn3</a>
                <a class="btn py-m px-m">btn4</a>
                <a class="btn py-m px-m">btn5</a>
                <a class="btn py-m px-m">btn6</a>
            </div>
        </div>
        <h2 class="title mt-xl pt-xl">Tables</h2>
        <h4 class="title">Default Table</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Responsive Table</h4>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Field</th>
                        <th>Email</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>25</td>
                        <td>Front-end Developer</td>
                        <td>bebykit@framework.bk</td>
                        <td><i class="bk-pen bk-s"></i>&nbsp;<i class="bk-trash bk-s"></i></td>
                    </tr>
                    <tr>
                        <td>Jane Dee</td>
                        <td>26</td>
                        <td>Back-end Developer</td>
                        <td>bebykit@framework.bk</td>
                        <td><i class="bk-pen bk-s"></i>&nbsp;<i class="bk-trash bk-s"></i></td>
                    </tr>
                    <tr>
                        <td>Josh Dan</td>
                        <td>28</td>
                        <td>Fullstack Developer</td>
                        <td>bebykit@framework.bk</td>
                        <td><i class="bk-pen bk-s"></i>&nbsp;<i class="bk-trash bk-s"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 class="title mt-xl">Striped Table</h4>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Table - No Border</h4>
        <table class="no-border">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Table - No Border Striped</h4>
        <table class="no-border table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Table - Bordered</h4>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Table - Striped Bordered</h4>
        <table class="table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Fluid Table</h4>
        <table class="table-fluid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Fluid Bordered Table</h4>
        <table class="table-bordered table-fluid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <h4 class="title mt-xl">Fluid Striped Bordered Table</h4>
        <table class="table-bordered table-striped table-fluid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Front-end Developer</td>
                </tr>
                <tr>
                    <td>Jane Dee</td>
                    <td>Back-end Developer</td>
                </tr>
                <tr>
                    <td>Josh Dan</td>
                    <td>Fullstack Developer</td>
                </tr>
            </tbody>
        </table>
        <div class="my-xl pt-l">
            <h2 class="title">Dropdown</h2>
            <div class="dropdown">
                <a class="btn py-s px-m blue-bg">dropdown</a>
                <div class="dropdown-content light-bg blue-text">
                    <a>dropdown1</a>
                    <a>dropdown2</a>
                    <a>dropdown3</a>
                </div>
            </div>
            <h4 class="title mt-l">Dropup</h4>
            <div class="dropup">
                <a class="btn py-s px-m red-bg">dropup</a>
                <div class="dropup-content light-bg blue-text">
                    <a>dropup1</a>
                    <a>dropup2</a>
                    <a>dropup3</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="blue-bg pt-xl pb-s px-m">
        <div class="row">
            <div class="column xs-12 s-5 m-4 l-3 light-bg r-s flex content-justify-center shadow-s">
                <a href="../index.html" class="py-s flex items-align-center">
                    <img src="../assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="max-width: 60px;">
                    <p class="font-xl blue-text text-lighter-1"><strong>BebyKit</strong></p>
                </a>
            </div>
            <div class="column xs-12 s-7 m-8 l-9 light-text py-s px-m text-center-xs">
                <p class="font-m">
                    Made with <i class="bk-heart-filled bk-s red-text"></i> by <em>Hawari</em> [ <span class="font-xs red-text shadow-text-s"><strong>ハワリ</strong></span> ] and Hikari [ <span class="font-xs red-text shadow-text-s"><strong>光</strong></span> ].<br>
                    Current Version: v1.0.2
                </p>
            </div>
            <div class="column xs-12 mt-m text-center">
                <p>
                    BebyKit © 2022. MIT Licensed
                </p>
            </div>
        </div>
    </footer>
</body>
</html>