<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BebyKit</title>

    <link rel="icon" href="../assets/image/logo/BebyKit.ico" sizes="32x32" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/script/css/bebykit.fix.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <meta property="og:title" content="BebyKit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hawarimuflihmunte.github.io/BebyKit/" />
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" />
    <meta property="og:description" content="Simple & free-to-use CSS Framework, and also open-source" />

    <link rel="stylesheet" href="../style.css">

</head>
<body class="white-bg bg-enhanced-1">
    <div class="fixed w-100 index-5">
        <nav class="blue-bg px-m shadow-n flex content-align-center items-align-center">
            <a href="../index.html" class="flex content-align-center items-align-center">
                <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" style="max-width: 45px; height: auto;" oncontextmenu="return false;">
            </a>
            <a class="menu-drop hidden-m-to-upper">
                <i class="bk-th font-s"></i>
            </a>
            <ul class="flex content-justify-space-between items-align-center hidden-s-to-lower change-color">
                <li>
                    <div class="dropdown r-s mr-m">
                        <button class="btn btn-s transparent-bg shadow-n">Documentation</button>
                        <div class="dropdown-content light-bg blue-text">
                            <a href="../index.html" class="content-justify-center"><i class="bk-home"></i></a>
                            <div class="divider"></div>
                            <a href="../layout/index.html">Layout</a>
                            <a href="index.html">Components</a>
                            <a href="../utilities/index.html">Utilities</a>
                            <a href="../forms/index.html">Forms</a>
                            <a href="../icons/index.html">Icons</a>
                            <a href="../typography/index.html">Typography</a>
                        </div>
                    </div>
                </li>
                <li><a href="../index.html#download" class="btn-outline btn-s btn-white r-xs"><i class="bk-download bk-xs"></i>&nbsp;&nbsp;Download</a></li>
            </ul>
        </nav>
    </div>

    <div class="container pt-xl mb-l">
        <div class="pt-m"></div>
        <h1 class="title">Components</h1>
        <hr class="mb-xl">
        <h2 class="title">Button</h2>
        <p class="mb-m">
            You can use built-in buttons from BebyKit. Or, you can also create your own button by changing button properties using
            BebyKit's utilities (e.g. padding, margin, border, radius, etc).
        </p>
        <div class="block items-align-center p-m r-s b-xs b-grey b-lighter-3 overflow-hidden">
            <div class="row">
                <div class="column">
                    <a class="btn">button</a>
                    <a class="btn-outline r-s btn-red">button</a>
                    <a class="btn orange-bg dark-text r-l">button</a>
                </div>
                <div class="column">
                    <a class="btn-outline r-l">button</a>
                    <a class="btn light-bg dark-text">button</a>
                    <a class="btn dark-bg">button</a>
                </div>
                <div class="column">
                    <a class="btn-circle"><i class="bk-heart"></i></a>
                    <a class="btn-circle-outline btn-purple"><i class="bk-heart"></i></a>
                    <a class="btn-circle-outline btn-green"><i class="bk-heart"></i></a>
                </div>
                <div class="column">
                    <div class="btn-group btn-m">
                        <a class="btn">Button#1</a>
                        <a class="btn red-bg bg-lighter-1">Button#2</a>
                    </div>
                </div>
                <div class="column">
                    <div class="btn-group-outline btn-m btn-red">
                        <a class="btn">Button#1</a>
                        <a class="btn">Button#2</a>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="title mt-xl">Normal Button</h5>
        <div class="my-m">
            <p>
                BebyKit's buttons are soft and interactive. Once you pressed it, you can see the state changed to brighter.
                Indicating that the button was pressed.
            </p>
        </div>
        <a class="btn">button</a>
        <a class="btn red-bg">button</a>
        <a class="btn purple-bg">button</a>
        <div class="my-m"></div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn red-bg"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn purple-bg"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <h5 class="title mt-xl">Normal Circular Button</h5>
        <div class="my-m">
            <p>
                This button is worked only on icons. You can't put text inside of it.
            </p>
        </div>
        <a class="btn-circle"><i class="bk-th"></i></a>
        <a class="btn-circle red-bg"><i class="bk-th-outline"></i></a>
        <a class="btn-circle light-bg dark-text"><i class="bk-menu"></i></a>
        <div class="my-m"></div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-th"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle red-bg"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-th-outline"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle light-bg dark-text</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-menu"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <h5 class="title mt-xl">Outline Button</h5>
        <div class="my-m">
            <p>
                Outline buttons are cool stuff coming from BebyKit. These buttons background are transparent when they are not being hovered, and change their background color based on text color.
                You can customize them too!
            </p>
        </div>
        <a class="btn-outline r-s">button</a>
        <a class="btn-outline btn-red r-s">button</a>
        <a class="btn-outline b-n btn-black r-l">button</a>
        <div class="my-m"></div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-red"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-black b-n r-l"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">button</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <h5 class="title mt-xl">Outline Circular Button</h5>
        <div class="my-m">
            <p>
                This button is worked only on icons. You can't put text inside of it.
            </p>
        </div>
        <a class="btn-circle-outline"><i class="bk-th"></i></a>
        <a class="btn-circle-outline btn-red"><i class="bk-th-outline"></i></a>
        <a class="btn-circle-outline btn-green b-n"><i class="bk-menu"></i></a>
        <div class="my-m"></div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle-outline"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-th"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle-outline btn-red"</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-th-outline"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle-outline btn-green b-n</span>&gt;<span class="grey-text text-lighter-3"><span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-menu"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <h5 class="title mt-xl pt-m">Advanced</h5>
        <p class="pb-l">
            You can style these buttons above by yourself. You can see example below:
        </p>
        <h6 class="title">Button Coloring</h6>
        <div class="flex my-m items-align-center ">
            <p>from default</p>&nbsp;&nbsp;<a class="btn">button</a>&nbsp;&nbsp;to&nbsp;&nbsp;<a class="btn green-bg bg-lighter-3 dark-text">button</a>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn green-bg bg-lighter-3 dark-text"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <div class="flex mt-xl mb-m items-align-center">
            <p>from default</p>&nbsp;&nbsp;<a class="btn-outline r-s">button</a>&nbsp;&nbsp;to&nbsp;&nbsp;<a class="btn-outline btn-pink r-s">button</a>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline r-s"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline r-s btn-pink"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <p class="mt-m mb-xl">
            If you are using <code>btn-outline</code> button, you have to choose it's color by using <code>btn-</code> and then its color-name. See example above.
            <br>
            <br>
            This is also works on circle button. Where you can choose color by using <code>btn-</code> color-name.
        </p>
        <div class="flex my-m items-align-center">
            <p>from default</p>&nbsp;&nbsp;<a class="btn-circle"><i class="bk-music"></i></a>&nbsp;&nbsp;to&nbsp;&nbsp;<a class="btn-circle green-bg bg-lighter-3 dark-text"><i class="bk-music"></i></a>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle"</span>&gt;&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-music"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle green-bg bg-lighter-3 dark-text"</span>&gt;&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-music"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <div class="flex mt-xl mb-m items-align-center">
            <p>from default</p>&nbsp;&nbsp;<a class="btn-circle-outline"><i class="bk-music"></i></a>&nbsp;&nbsp;to&nbsp;&nbsp;<a class="btn-circle-outline btn-pink"><i class="bk-music"></i></a>
        </div>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle-outline"</span>&gt;<span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-music"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-circle-outline btn-pink"</span>&gt;<span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-music"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
            </div>
        </div>
        <p class="mt-m mb-xl">
            If the button has background color, then you can apply background colors such as <code>green-bg</code>, <code>red-bg bg-lighter-3</code> or <code>blue-bg bg-darker-2</code>.
            But, if the button doesn't have any background colors such as outlined button, then you can't apply background color to its. But you can tckle this problem by using <code>btn-red</code> or <code>btn-white</code> to make the outline and hovered state changed to our styling.
        </p>
        <h5 class="title">Sizing</h5>
        <p>
            BebyKit has its built-in sizes for buttons. you can modify them by using utilities or simply just by following our built-in sizes.
            You can make a group of buttons by using <code>btn-group</code> class to a <code>div</code>. After done with that, create buttons inside of it by calling <code>btn</code> class name. The sizes for button starts from <code>xs</code>, <code>s</code>, <code>m</code>, <code>l</code>, <code>xl</code>.
            Look at their differences below:
        </p>
        <div class="row">
            <div class="column">
                <a class="btn btn-xs">xs</a>
                <a class="btn btn-s">s</a>
                <a class="btn btn-m">m</a>
                <a class="btn btn-l">l</a>
                <a class="btn btn-xl">xl</a>
            </div>
            <div class="column mt-l">
                <a class="btn-outline r-m btn-xs">xs</a>
                <a class="btn-outline r-m btn-s">s</a>
                <a class="btn-outline r-m btn-m">m</a>
                <a class="btn-outline r-m btn-l">l</a>
                <a class="btn-outline r-m btn-xl">xl</a>
            </div>
            <div class="column mt-l">
                <a class="btn-circle r-m btn-xs">xs</a>
                <a class="btn-circle r-m btn-s">s</a>
                <a class="btn-circle r-m btn-m">m</a>
                <a class="btn-circle r-m btn-l">l</a>
                <a class="btn-circle r-m btn-xl">xl</a>
            </div>
            <div class="column mt-l">
                <a class="btn-circle-outline btn-xs">xs</a>
                <a class="btn-circle-outline btn-s">s</a>
                <a class="btn-circle-outline btn-m">m</a>
                <a class="btn-circle-outline btn-l">l</a>
                <a class="btn-circle-outline btn-xl">xl</a>
            </div>
            <div class="column mt-l">
                <p>
                    The default size for BebyKit's Buttons is <code>xs</code> size!
                    <br>
                    <a class="btn">xs#1</a>
                    <a class="btn-outline btn-green r-s">xs#2</a>
                    <a class="btn-circle"><i class="bk-block"></i></a>
                    <a class="btn-circle-outline btn-green"><i class="bk-block"></i></a>
                </p>
            </div>
            <div class="column mt-l">
                <p>
                    Let's see what happened if we change the <code>font-size</code> inside the buttons...
                    <br>
                    <a class="btn font-l">xs#1</a>
                    <a class="btn-outline btn-green r-s font-xl">xs#2</a>
                    <a class="btn-circle"><i class="bk-block text-m"></i></a>
                    <a class="btn-circle-outline btn-green"><i class="bk-block text-xl"></i></a>
                    <br>
                    <br>
                    The first one, using <code>font-l</code>, second use <code>font-xl</code>, and three use <code>text-m</code> and the last one, four use <code>text-xl</code>.
                    <br>
                    <br>
                    <span class="red-text">*</span>Note:
                    To change icon's size, you have to deal with the icon by your own. Set the <code>font-size</code> inside the <code>i</code> class attribute.
                </p>
            </div>
        </div>
        <p class="mt-l mb-xl">
            The <code>font-size</code>s can also be changed. By changing <code>font-size</code>s, it can affect the button's size!
        </p>
        <h6 class="title">Additional</h6>
        <p class="mb-l">
            By using BebyKit's utilities, a modified button can also be created. See examples below:
        </p>
        <div class="row">
            <div class="column">
                <a class="p-s r-m light-text font-m red-bg shadow-m unselectable shadow-hover-to-xl">button</a>
                <a class="p-s r-m light-bg font-m b-xs shadow-l unselectable shadow-hover-to-m">button</a>
                <a class="p-s r-m white-bg bg-enhanced-3 font-m b-s b-orange b-inset shadow-xl unselectable shadow-hover-to-n">button</a>
            </div>
            <div class="column mt-xl">
            <div class="block">
                <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                    <span class="code-language">HTML</span>
                </div>
                <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                    <pre>
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"p-s r-m light-text font-m red-bg shadow-m unselectable shadow-hover-to-xl"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"p-s r-m light-bg font-m b-xs shadow-l unselectable shadow-hover-to-m"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"p-s r-m white-bg bg-enhanced-3 font-m b-s b-orange b-inset shadow-xl unselectable shadow-hover-to-n"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;</pre>
                </div>
            </div>
            </div>
            <div class="column mt-l">
                <p>
                    You can create buttons by your own like these. But, if you prefer to choose this styling way, then you have to set the <code>:hover</code> state, <code>:active</code> state, etc., by your own. And these buttons are also can be selected if user tries to drag text in it.
                    So you have to tackle this problem by using <code>unselectable</code> and also add <code>selectable-none</code> to prevent the texts inside being selected.
                </p>
            </div>
        </div>
        <p class="mb-m">
            <br>
            <br>
            We can also make outline button without its outline. Look at examples below:
            <a class="btn-outline btn-black b-n r-s">button</a>
            <a class="btn-outline btn-green b-n r-s">button</a>
            <a class="btn-outline btn-red b-n r-s">button</a>
            <a class="btn-circle-outline btn-red b-n"><i class="bk-block font-xl"></i></a>
            <a class="btn-circle-outline btn-black b-n"><i class="bk-code font-xl"></i></a>
        </p>
        <div class="block">
            <div class="code-language-wrapper dark-bg rtl-s block p-s rtr-s">
                <span class="code-language">HTML</span>
            </div>
            <div class="dark-bg py-l px-s mb-s rbl-s rbr-s rtr-s white-text text-enhanced-3 overflow-auto selectable-all">
                <pre>
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-black r-s b-n"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-green r-s b-n"</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-red r-s" b-n</span>&gt;<span class="light-text">button</span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-red b-n"</span>&gt;<span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-block font-xl"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
&lt;<span class="orange-text text-lighter-1">a</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"btn-outline btn-black b-n"</span>&gt;<span class="light-text">&lt;<span class="orange-text text-lighter-1">i</span> <span class="yellow-text">class</span>=<span class="yellow-text text-lighter-3">"bk-code font-xl"</span>&gt;&lt;/<span class="orange-text text-lighter-1">i</span>&gt;</span></span></span>&lt;/<span class="orange-text text-lighter-1">a</span>&gt;
</pre>
            </div>
        </div>
        <p class="my-m">
            To apply this, simply add <code>b-n</code> which stand for <code>border-none</code>. This will surely remove any border from buttons.
        </p>
        <hr class="my-l">
        <h2 class="title mt-xl mb-l">Button Group</h2>
        <h5 class="title">Normal Button Group</h5>
        <p>
            <div class="row mt-s">
                <div class="column">
                    <div class="btn-group btn-s">
                        <div class="btn">Button#1</div>
                        <div class="btn red-bg">Button#2</div>
                        <div class="btn yellow-bg dark-bg">Button#3</div>
                    </div>
                </div>
            </div>
        </p>
    </div>

    <footer class="blue-bg pt-xl pb-s px-m">
        <div class="row">
            <div class="column xs-12 m-6">
                <a href="../index.html" class="w-auto mb-s flex items-align-flex-end">
                    <img src="https://cdn.jsdelivr.net/gh/hawariMuflihMunte/BebyKit@main/assets/image/logo/BebyKit.png" alt="BebyKit's Logo" style="max-width: 50px;">
                    <span class="light-text text-m font-sans-serif shadow-text-3d">BebyKit</span>
                </a>
                <p class="mt-s">
                    Made with <i class="bk-heart-filled text-xs"></i> by BebyKit team and all of the contributors.
                </p>
                <p>Current version: v1.0.3</p>
            </div>
            <div class="column xs-12 m-6 pt-l hidden-m-to-upper">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-s">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4 pt-m">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 m-6 hidden-s-to-lower">
                <div class="row">
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Community</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/projects" class="light-text">Projects</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/issues" class="light-text">Issues</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/discussions" class="light-text">Discussion (GitHub)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://chat.whatsapp.com/H9ocUvz3w30KypcX7xzyZa" class="light-text">Discussion (Whatsapp)</a></div>
                            <div class="column xs-12"><a target="_blank" href="https://gitter.im/BebyKit/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" class="light-text">Discussion (Gitter)</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">Projects</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a href="icons_project.html" class="light-text">Icons</a></div>
                        </div>
                    </div>
                    <div class="column xs-12 m-4">
                        <h6 class="title light-text">License</h6>
                        <div class="row p-n m-n font-m">
                            <div class="column xs-12"><a target="_blank" href="https://github.com/hawariMuflihMunte/BebyKit/blob/main/README.md" class="light-text">MIT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xs-12 mt-m text-center">
                <div class="divider light-bg mb-m"></div>
                <p>
                    BebyKit © 2022. MIT Licensed
                </p>
            </div>
        </div>
    </footer>

<script src="../script.js" type="text/javascript"></script>

</body>
</html>